* {
    margin: 0;
    padding: 0;
    transition: all 0.4s ease;
}

body {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

#wrapper {
    z-index: 2;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    background-color: rgba(255, 255, 255, 0.3);

    #navbar {
        z-index: 2;
        height: 150px;
        display: flex;
        transition: all 0.4s ease 0.4s, color 0.4s ease;
        opacity: 0;

        #back-btn {
            // transition-delay: 0.4s;
            opacity: 0;
            margin-top: 25px;
            width: 0;
            background: none;
            border: none;
            font-size: 24px;
            background: url("../img/back.svg") no-repeat scroll center transparent;
            background-size: 50%;
        }

        #title {
            transition: all 0.4s ease 0.4s, color 0.4s ease;
            flex: 1 auto;
            text-align: center;
            display: flex;
            margin-left: 20px;
            margin-right: 20px;

            div {
                transition: all 0.4s ease 0.4s, color 0.4s ease;
                flex: 1 auto;
                line-height: 150px;
                font-size: 52px;
                float: left;
            }

            #settings-btn {
                transition: all 0.4s ease 0.4s, color 0.4s ease;
                width: 50px;
                height: 50px;
                margin-top: 50px;
                margin-bottom: 50px;
                text-align: center;
                border: none;
                font-size: 24px;
                line-height: 50px;
                background: url("../img/gear.svg") no-repeat scroll center transparent;
                background-size: 50%;
            }
        }
    }

    #game {
        z-index: 2;
        flex: 1 auto;
        position: relative;
        transition-delay: 0.4s;
        opacity: 0;

        .panel {
            position: absolute;
            top: 10%;
            height: 80%;
            width: 80%;
        }

        #start {
            left: 10%;
        }

        #play {
            left: calc(110%);
        }
    }

    #settings {
        z-index: 1;
        position: absolute;
        left: 60px;
        top: 60px;
        height: calc(100% - 170px);
        width: calc(100% - 170px);
        border-radius: 10px;
        opacity: 0;
        display: flex;
        flex-direction: column;
        padding: 25px;
        // background-color: rgba(120, 120, 120, 0.6);
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
        background-color: rgba(255, 255, 255, 0.3);
        text-align: center;

        h1 {
            margin-bottom: 30px;
        }

        #settings-close {
            position: relative;
            left: -10px;
            top: -10px;
            width: 25px;
            height: 25px;
            border: none;
            background: none;
            line-height: 25px;
            font-size: 25px;
        }

        form {
            flex: 1 auto;
            display: flex;
            flex-direction: column;

            .field {
                width: 100%;
                margin-bottom: 30px;
            }
        }

        &.show {
            z-index: 3;
            opacity: 1;
            left: 20px;
            top: 20px;
            height: calc(100% - 90px);
            width: calc(100% - 90px);
            // box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.4);
        }
    }

    &.loaded {
        #navbar {
            opacity: 1;
        }

        #game {
            opacity: 1;
        }
    }

    &.playing {

        #navbar {
            height: 50px;
            transition: all 0.4s ease 0.4s, color 0.4s ease;
            background-color: rgba(255, 255, 255, 0.5);

            #back-btn {
                transition: all 0.4s ease 0.8s, color 0.4s ease;
                opacity: 1;
                width: 50px;
                margin-top: 0;
            }

            #title {
                transition: all 0.4s ease 0.4s, color 0.4s ease;
                margin: 0;

                div {
                    line-height: 50px;
                    font-size: 34px;
                    transition: all 0.4s ease 0.4s, color 0.4s ease;
                }

                #settings-btn {
                    margin-top: 0;
                    margin-bottom: 0;
                    transition: all 0.4s ease 0.4s, color 0.4s ease;
                    // opacity: 0;
                }
            }
        }

        #game {
            #start {
                left: calc(-90%);
            }

            #play {
                left: 10%;
            }
        }
    }

    @media screen and (min-width: 650px) {
        height: 80vh;
        width: 420px;
        margin: auto;
        margin-top: 10vh;
        border-radius: 10px;
        box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.4);

        #settings {
            top: 0;
            left: calc(50% - 210px);
            height: calc(80vh + 50px);
            width: 370px;

            &.show {
                top: 0;
                left: calc(50% - 210px);
                height: calc(80vh + 50px);
                width: 370px;
            }
        }
    }

    @media screen and (min-width: 650px) and (min-height: 750px) {
        height: 670px;
        margin-top: calc(50vh - 335px);

        #settings {
            height: 670px;

            &.show {
                height: 670px;
            }
        }
    }
}

#start {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    .selection {
        height: 50px;
        display: flex;

        div {
            flex: 1 auto;
            line-height: 50px;
            font-size: 54px;
        }

        button {
            height: 50px;
            width: 50px;
        }

        .less-btn {
            background: url("../img/minus.svg") no-repeat scroll center transparent;
            background-size: 30%;
        }

        .more-btn {
            background: url("../img/add.svg") no-repeat scroll center transparent;
            background-size: 30%;
        }
    }


    button {
        height: 100px;
        border: none;
        background: none;
        border-radius: 10px;
        font-size: 44px;
        transition: all 0.4s ease;
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.4);
    }
}

#play {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    #current-player {
        font-size: 44px;
        overflow-wrap: break-word;
    }

    #current-word {
        height: 50px;
        display: flex;

        button {
            width: 50px;
            border: none;
            background: none;
            border-radius: 10px;
            transition: all 0.4s ease;
            font-size: 15px;
            box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.4);
        }

        div {
            flex: 1 auto;
            line-height: 50px;
            font-size: 24px;
            opacity: 0;

            &.show {
                opacity: 1;
            }
        }
    }

    #next-turn {
        height: 60px;
        border: none;
        background: none;
        border-radius: 10px;
        font-size: 44px;
        transition: all 0.4s ease;
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.4);
    }
}

@import 'themes';
