@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  transition: all 0.4s ease;
}

body {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

#wrapper {
  z-index: 2;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.3);
}
#wrapper #navbar {
  z-index: 2;
  height: 150px;
  display: flex;
  transition: all 0.4s ease 0.4s, color 0.4s ease;
  opacity: 0;
}
#wrapper #navbar #back-btn {
  opacity: 0;
  margin-top: 25px;
  width: 0;
  background: none;
  border: none;
  font-size: 24px;
  background: url("../img/back.svg") no-repeat scroll center transparent;
  background-size: 50%;
}
#wrapper #navbar #title {
  transition: all 0.4s ease 0.4s, color 0.4s ease;
  flex: 1 auto;
  text-align: center;
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
}
#wrapper #navbar #title div {
  transition: all 0.4s ease 0.4s, color 0.4s ease;
  flex: 1 auto;
  line-height: 150px;
  font-size: 52px;
  float: left;
}
#wrapper #navbar #title #settings-btn {
  transition: all 0.4s ease 0.4s, color 0.4s ease;
  width: 50px;
  height: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  border: none;
  font-size: 24px;
  line-height: 50px;
  background: url("../img/gear.svg") no-repeat scroll center transparent;
  background-size: 50%;
}
#wrapper #game {
  z-index: 2;
  flex: 1 auto;
  position: relative;
  transition-delay: 0.4s;
  opacity: 0;
}
#wrapper #game .panel {
  position: absolute;
  top: 10%;
  height: 80%;
  width: 80%;
}
#wrapper #game #start {
  left: 10%;
}
#wrapper #game #play {
  left: calc(110%);
}
#wrapper #settings {
  z-index: 1;
  position: absolute;
  left: 60px;
  top: 60px;
  height: calc(100% - 170px);
  width: calc(100% - 170px);
  border-radius: 10px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  padding: 25px;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
}
#wrapper #settings h1 {
  margin-bottom: 30px;
}
#wrapper #settings #settings-close {
  position: relative;
  left: -10px;
  top: -10px;
  width: 25px;
  height: 25px;
  border: none;
  background: none;
  line-height: 25px;
  font-size: 25px;
}
#wrapper #settings form {
  flex: 1 auto;
  display: flex;
  flex-direction: column;
}
#wrapper #settings form .field {
  width: 100%;
  margin-bottom: 30px;
}
#wrapper #settings.show {
  z-index: 3;
  opacity: 1;
  left: 20px;
  top: 20px;
  height: calc(100% - 90px);
  width: calc(100% - 90px);
}
#wrapper.loaded #navbar {
  opacity: 1;
}
#wrapper.loaded #game {
  opacity: 1;
}
#wrapper.playing #navbar {
  height: 50px;
  transition: all 0.4s ease 0.4s, color 0.4s ease;
  background-color: rgba(255, 255, 255, 0.5);
}
#wrapper.playing #navbar #back-btn {
  transition: all 0.4s ease 0.8s, color 0.4s ease;
  opacity: 1;
  width: 50px;
  margin-top: 0;
}
#wrapper.playing #navbar #title {
  transition: all 0.4s ease 0.4s, color 0.4s ease;
  margin: 0;
}
#wrapper.playing #navbar #title div {
  line-height: 50px;
  font-size: 34px;
  transition: all 0.4s ease 0.4s, color 0.4s ease;
}
#wrapper.playing #navbar #title #settings-btn {
  margin-top: 0;
  margin-bottom: 0;
  transition: all 0.4s ease 0.4s, color 0.4s ease;
}
#wrapper.playing #game #start {
  left: calc(-90%);
}
#wrapper.playing #game #play {
  left: 10%;
}
@media screen and (min-width: 650px) {
  #wrapper {
    height: 80vh;
    width: 420px;
    margin: auto;
    margin-top: 10vh;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.4);
  }
  #wrapper #settings {
    top: 0;
    left: calc(50% - 210px);
    height: calc(80vh + 50px);
    width: 370px;
  }
  #wrapper #settings.show {
    top: 0;
    left: calc(50% - 210px);
    height: calc(80vh + 50px);
    width: 370px;
  }
}
@media screen and (min-width: 650px) and (min-height: 750px) {
  #wrapper {
    height: 670px;
    margin-top: calc(50vh - 335px);
  }
  #wrapper #settings {
    height: 670px;
  }
  #wrapper #settings.show {
    height: 670px;
  }
}

#start {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
#start .selection {
  height: 50px;
  display: flex;
}
#start .selection div {
  flex: 1 auto;
  line-height: 50px;
  font-size: 54px;
}
#start .selection button {
  height: 50px;
  width: 50px;
}
#start .selection .less-btn {
  background: url("../img/minus.svg") no-repeat scroll center transparent;
  background-size: 30%;
}
#start .selection .more-btn {
  background: url("../img/add.svg") no-repeat scroll center transparent;
  background-size: 30%;
}
#start button {
  height: 100px;
  border: none;
  background: none;
  border-radius: 10px;
  font-size: 44px;
  transition: all 0.4s ease;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.4);
}

#play {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
#play #current-player {
  font-size: 44px;
  overflow-wrap: break-word;
}
#play #current-word {
  height: 50px;
  display: flex;
}
#play #current-word button {
  width: 50px;
  border: none;
  background: none;
  border-radius: 10px;
  transition: all 0.4s ease;
  font-size: 15px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.4);
}
#play #current-word div {
  flex: 1 auto;
  line-height: 50px;
  font-size: 24px;
  opacity: 0;
}
#play #current-word div.show {
  opacity: 1;
}
#play #next-turn {
  height: 60px;
  border: none;
  background: none;
  border-radius: 10px;
  font-size: 44px;
  transition: all 0.4s ease;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.4);
}

body.theme-dark {
  background-image: linear-gradient(62deg, #011324 0%, #2e0456 100%);
}
body.theme-dark #back-btn {
  background: url("../img/back-theme-dark.svg") no-repeat scroll center transparent !important;
  background-size: 50% !important;
}
body.theme-dark #settings-btn {
  background: url("../img/gear-theme-dark.svg") no-repeat scroll center transparent !important;
  background-size: 50% !important;
}
body.theme-dark #start .less-btn {
  background: url("../img/minus-theme-dark.svg") no-repeat scroll center transparent !important;
  background-size: 30% !important;
}
body.theme-dark #start .more-btn {
  background: url("../img/add-theme-dark.svg") no-repeat scroll center transparent !important;
  background-size: 30% !important;
}
body.theme-dark #wrapper {
  background-color: rgba(50, 50, 50, 0.5);
  color: white;
}
body.theme-dark #wrapper #game button {
  color: white;
  box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.4);
}
body.theme-dark #wrapper.playing #navbar {
  background-color: rgba(55, 55, 55, 0.5);
}
@media screen and (min-width: 650px) {
  body.theme-dark #wrapper {
    box-shadow: 0px 0px 12px 1px rgba(200, 200, 200, 0.4);
  }
}
body.theme-dark #settings {
  background-color: rgba(50, 50, 50, 0.5) !important;
}
body.theme-dark #settings #settings-close  {
  color: white;
}

/*# sourceMappingURL=main.css.map */
